@font-face {
  font-family: 'Unbounded';
  src: url('@/fonts/Unbounded/static/Unbounded-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  src: url('@/fonts/Outfit-Medium.ttf') format('truetype');
}

body {
  font-family: 'Outfit', sans-serif;
}

.font-vintage {
  font-family: 'Unbounded', sans-serif;
}
